[submodule "src/ros-bridge"]
	path = src/ros-bridge
	url = https://github.com/carla-simulator/ros-bridge.git
[submodule "src/carla_agv"]
	path = src/carla_agv
	url = https://github.com/Ashuh/carla_agv.git
[submodule "src/autoware/messages"]
	path = src/autoware/messages
	url = https://github.com/Autoware-AI/messages.git
[submodule "src/autoware/common"]
	path = src/autoware/common
	url = https://github.com/Autoware-AI/common.git
[submodule "src/autoware/core_perception"]
	path = src/autoware/core_perception
	url = https://github.com/Autoware-AI/core_perception.git
[submodule "src/autoware/visualization"]
	path = src/autoware/visualization
	url = https://github.com/Autoware-AI/visualization.git
[submodule "src/autoware/utilities"]
	path = src/autoware/utilities
	url = https://github.com/Autoware-AI/utilities.git
[submodule "src/autoware/core_planning"]
	path = src/autoware/core_planning
	url = https://github.com/Autoware-AI/core_planning.git
