[submodule "src/ros-bridge"]
	path = src/ros-bridge
	url = https://github.com/carla-simulator/ros-bridge.git
[submodule "src/carla_agv"]
	path = src/carla_agv
	url = https://github.com/Ashuh/carla_agv.git
